body {
  margin-left: 50px;
  margin-right: 100px;
}

#words {
  line-height: 125%;
}

fieldset {
  margin-top: 25px;
}

legend {
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px; 
}

fieldset span, input {
  margin-left: 10px;
}

fieldset code {
  color: #eee;
  background-color: steelblue;
  padding: 2.5px;
}

fieldset code:hover {
  cursor: pointer;
}

fieldset .tags code {
  background-color: SeaGreen;
}

fieldset .popup, input[value="copy"], input[value="delete"], input[value="add"] {
  margin-left:2.5px;
}

fieldset textarea {
  vertical-align: middle;
}
