body {
  margin-left: 50px;
  margin-right: 100px;
}

#words {
  line-height: 125%;
}

fieldset {
  margin-top: 25px;
}

legend {
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px; 
}

fieldset span, code, input {
  margin-left: 10px;
}

fieldset code {
  color: #eee;
  background-color: SeaGreen;
  padding: 2.5px;
}

fieldset code:hover {
  cursor: pointer;
}